﻿@model IndexViewModel

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

<div class="row">
    <div class="col-md-12">

        <form action="/" method="get">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Query"></label>
                    <input asp-for="Query" type="text" placeholder="e.g. online title search" class="form-control" required>
                    <span asp-validation-for="Query"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Url"></label>
                    <input asp-for="Url" type="text" placeholder="e.g. infotrack.com.au" class="form-control" required>
                    <span asp-validation-for="Url"></span>
                </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block"
                    type="submit">
                Check
            </button>
        </form>
    </div>
</div>

@if (Model.Rankings != null)
{
    <div class="alert alert-success mt-3" role="alert">
        Rankings for "@Model.Query":
        <strong>
            @(Model.Rankings.Any() ? string.Join(", ", Model.Rankings) : "none")
        </strong>
    </div>
}
