﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Rank Checker</title>

    <link rel="icon" href="https://www.infotrack.com.au/wp-content/uploads/cropped-infotrack-site-icon-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://www.infotrack.com.au/wp-content/uploads/cropped-infotrack-site-icon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://www.infotrack.com.au/wp-content/uploads/cropped-infotrack-site-icon-180x180.png" />
    <meta name="msapplication-TileImage" content="https://www.infotrack.com.au/wp-content/uploads/cropped-infotrack-site-icon-270x270.png" />

    <style>
        form .input-validation-error {
            border-color: #dc3545;
        }

        form .field-validation-error {
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/4.0.0/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>
</head>
<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Google Rank Checker</h2>
            <p class="lead">
                Place your search term, press Check and wait for the results.
            </p>
        </div>

        @RenderBody()

        <footer class="my-5 pt-5 text-muted text-center">
            <p class="mb-1">&copy; 2018 InfoTrack's Core Team</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
